#container {
  display: grid;
  /* max-width: 75rem; */
  grid-template-rows: 5rem minmax(50rem, auto) minmax(5rem,auto);
  grid-template-columns: minmax(280px, 50rem);
  grid-template-areas: 
    " header"
    " content"
    " footer ";
  gap: 0.5rem;
}

#header {
  grid-area: header;
}

#sidebar {
  display: none;
}

#footer {
  grid-area: footer
}

#content {
  grid-area: content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  border: 3px solid rgb(249, 249, 249);
}

#sidebar > a {
  display: block;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
  transform: translateX(0px);
}
#sidebar > a:hover {
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);

}




@media screen and (min-width: 900px){
  #container {
    grid-template-rows: 5rem minmax(50rem, auto) minmax(5rem,auto);
    grid-template-columns: clamp(5rem,20vw,15rem) calc(100vw - 20rem) 1fr;
    grid-template-areas: 
      "header header "
      "sidebar content "
      "footer  footer";
  }

  #sidebar {
    box-sizing: border-box;
    display: inline-block;
    grid-area: sidebar;
    padding: 1rem;
  }
}