@import url("./content.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./layout.css");
@import url("./sidebar.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Tilt+Neon&display=swap');

* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #D1D5DB;
  font-family: 'Nunito Sans', sans-serif;
}

body{

}

html,  body {
  overflow-x:hidden;
  background-color: #343541;
  overflow-y: scroll;
  
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  padding: 1rem;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3.0rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.75rem;
}

a {
  all: unset;
  cursor: pointer;
  font-family: 'Tilt Neon', cursive;
}

a:hover {
  /* color: rgba(0, 213, 255, 0.925);
  transition: 100ms;
  transform: scale(1.1);
  transform: rotate3d(); */
}
